@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+VIC+WA+NT+Beginner&family=Kameron&family=Rokkitt&family=Rubik+Moonrocks&display=swap');

:root{
  --primary-one: #F5D6BA;
  --primary-two: #2C2C54; 
  --secondary: #ACC3A6;
  --accent-one: #A40E4C;
  --accent-two: #F49D6E;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--primary-one);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--accent-two);
}

.time{
  color: var(--primary-two);
  text-shadow: .3rem .3rem var(--secondary);
  font-size: 10rem;
}

.options{
  color: var(--primary-two);
  background-color: lightgrey;
  padding: 1.5rem;
  font-size: 1rem;

  position: relative;

  border-radius: 15px;
  box-shadow: 0 3px 9px black, inset 0 0 9px white;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.options label{
  
  margin: -.25rem;
}

.option-label{
  padding-left: .25rem;
}