:root{
  --primary-one: #F5D6BA;
  --primary-two: #2C2C54;
  --secondary: #ACC3A6;
  --accent-one: #A40E4C;
  --accent-two: #F49D6E;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--primary-one);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--accent-two);
}

.App-link {
  color: var(--accent-one);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.time{
  color: var(--primary-two);
  text-shadow: .3rem .3rem var(--secondary);
  font-size: 10rem;
}

.options{
  color: var(--accent-two);
  font-size: 1rem;
}
